.video-chat {
  position: fixed;
  right: 48px;
  bottom: 33px;
}
.video-chat .added-video {
  position: relative;
  right: 0;
}
.video-chat .shifted {
  right: 341px;
}
.video-chat .added-video,
.video-chat .paused-video {
  width: 252px;
  height: 445px;
  z-index: 9999;
  background-color: #707070;
  transition: all 0.5s ease;
}
.video-chat .added-video .video,
.video-chat .paused-video .video {
  position: absolute;
  width: 100%;
  height: 100%;
}
.video-chat .added-video .video-default,
.video-chat .paused-video .video-default {
  transform: translate(-50%, -50%);
  border-radius: 100%;
}
.video-chat .added-video .custom-controls,
.video-chat .paused-video .custom-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  height: 100%;
  padding: 10px 16px 50px 16px;
}
.video-chat .added-video .custom-controls .controls-top,
.video-chat .paused-video .custom-controls .controls-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 99999;
}
.video-chat .added-video .custom-controls .controls-top .controls-right,
.video-chat .paused-video .custom-controls .controls-top .controls-right {
  display: flex;
}
.video-chat .added-video .custom-controls .controls-top .controls-right .added-time .time,
.video-chat .paused-video .custom-controls .controls-top .controls-right .added-time .time {
  font-family: Inter;
  font-size: 9px;
  font-weight: 300;
  line-height: 10.89px;
  text-align: left;
  color: #cccccc;
}
.video-chat .added-video .custom-controls .controls-top .controls-right .x2,
.video-chat .paused-video .custom-controls .controls-top .controls-right .x2 {
  cursor: pointer;
  margin: 0 10px;
  background-color: rgba(229, 229, 229, 0.4);
  color: white;
  font-size: 12px;
  padding: 6px 4px;
}
.video-chat .added-video .custom-controls .controls-top .controls-right .repeat-icon,
.video-chat .paused-video .custom-controls .controls-top .controls-right .repeat-icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.video-chat .added-video .custom-controls .added-arrow,
.video-chat .paused-video .custom-controls .added-arrow {
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.video-chat .added-video .custom-controls .controls-bottom .calendar-icon,
.video-chat .paused-video .custom-controls .controls-bottom .calendar-icon {
  font-size: 15px;
}
.video-chat .added-video .custom-controls .controls-bottom .css-sghohy-MuiButtonBase-root-MuiButton-root,
.video-chat .paused-video .custom-controls .controls-bottom .css-sghohy-MuiButtonBase-root-MuiButton-root {
  text-transform: none;
  border-radius: 50px;
  padding: 6px 36px;
  background-color: rgba(90, 140, 254, 0.8);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}
.video-chat .added-video .custom-controls .MuiLinearProgress-root,
.video-chat .paused-video .custom-controls .MuiLinearProgress-root {
  height: 4px;
  background-color: #bbb;
}
.video-chat .added-video .custom-controls .MuiLinearProgress-root .MuiLinearProgress-bar,
.video-chat .paused-video .custom-controls .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: rgba(90, 140, 254, 0.8);
}
.video-chat .added-video .custom-controls .css-1qaf1kb,
.video-chat .paused-video .custom-controls .css-1qaf1kb {
  margin: 0;
  position: absolute;
  top: -4px;
}
.video-chat .paused-video {
  border-radius: 100%;
  cursor: pointer;
  height: 142px;
  width: 142px;
  overflow: hidden;
}
.video-chat .here {
  position: relative;
  bottom: 36px;
  right: 17px;
}
.video-chat .here .here-click {
  position: absolute;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.52px;
  left: 50px;
  top: 5px;
  color: white;
}
.video-chat .video-form {
  background-color: #eff0ff;
  position: absolute;
  top: -18px;
  width: 341px;
  height: 445px;
  right: -100%;
  transition: all 0.5s ease;
  z-index: 10000;
}
.video-chat .video-form.show-form {
  right: 0;
  transition: all 0.5s ease;
}
.video-chat .video-form .video-form-top {
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}
.video-chat .video-form .video-form-top .close-icn {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.video-chat .video-form .video-form-top .form-text {
  padding: 35px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  line-height: 22.5px;
  text-align: center;
}
.video-chat .video-form .video-form-bottom {
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  height: 353px;
}
.video-chat .video-form .video-form-bottom .submit-form {
  height: 353px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}
.video-chat .video-form .video-form-bottom .submit-form .form-top {
  display: flex;
  flex-direction: column;
}
.video-chat .video-form .video-form-bottom .submit-form .form-top .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: #cecef6;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  text-align: left;
}
.video-chat .video-form .video-form-bottom .submit-form .form-top .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 0;
}
.video-chat .video-form .video-form-bottom .submit-form textarea {
  margin: 10px 0;
  border: none;
  resize: none;
  padding: 5px;
  height: 141px;
}
.video-chat .video-form .video-form-bottom .submit-form textarea::-moz-placeholder {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  text-align: left;
  color: #cecef6;
}
.video-chat .video-form .video-form-bottom .submit-form textarea::placeholder {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  text-align: left;
  color: #cecef6;
}
.video-chat .video-form .video-form-bottom .submit-form .btn-sbt {
  background-color: #5a8cfe;
  padding: 8px;
  border: none;
  width: 101px;
  border-radius: 10px;
  color: white;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  cursor: pointer;
}

@media (max-width: 575px) {
  .video-chat {
    position: static;
  }
  .video-chat .paused-video {
    position: fixed;
    right: 48px !important;
    bottom: 33px;
  }
  .video-chat .here {
    position: fixed;
    bottom: 190px;
    right: 33px;
  }
  .video-chat .added-video {
    top: 50px;
    width: 100%;
    height: 93vh;
  }
  .video-chat .added-video.hide {
    display: none;
  }
  .video-chat .show-form {
    position: static;
    height: 100vh;
    width: 100%;
    margin-top: 50px;
  }
  .video-chat .video-form-bottom {
    height: 100vh;
  }
}/*# sourceMappingURL=videochat.css.map */